<div class="container" fxLayoutAlign="center center" fxLayoutGap="10px">
  <mat-card class="card" fxLayout="column" fxFlex="400px" fxLayoutAlign="center center">
    <mat-card-actions fxLayoutGap="15px">
      <button (click)="increment()" mat-raised-button color="accent" class="btn">Increase</button>
      <button (click)="decrement()" mat-raised-button color="warn" class="btn">Decrease</button>
    </mat-card-actions>
    <mat-card-content>
      <p style="color:blue">
        Parent Result: {{ counter$ | async }}
      </p>
      <app-child></app-child>
    </mat-card-content>
  </mat-card>
</div>
